.img-inner{
    @include push--auto;
    object-fit: contain;
}
p{
    @include font-source-sans( $regular, $first-light-color, 500,  1.3, $main-font );
}
section{
    padding: 100px 0;
    position: relative;
    .section-header{
        *{
            @include font-source-sans( $big, $first-light-color, bolder,  1.2, $secondary-font);
        }
        padding-bottom: 50px;
        &.has-before{
            padding-bottom: 15px;
        }
    }
    .section-subheader, .section-subheader{
        @include font-source-sans( $middle, $first-light-color, 600,  1, $secondary-font);
        font-style: italic;
    }
    p{
        @include font-source-sans( $regular, $first-light-color, 400,  1.3, $main-font );
    }
    &.light-theme, &.dark-theme{
        &.color-bg{
            @include bg--auto($third-light-color, linear-gradient(left, $third-light-color, darken( $third-light-color, 35% ) ), cover, no-repeat);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#{$third-light-color}', EndColorStr='#{darken( $third-light-color, 15% )}');
            box-shadow: inset 0 15px 15px  -15px #333 , inset 0 -15px 15px  -15px #333;
        }
    }
    &.light-theme{
        &.color-bg{
            z-index: 40;
             .section-header{
                *{
                    @include font-source-sans( $big, $first-light-color, bolder,  1, $secondary-font);
                }
            }       
        }
        &.white-bg{
            z-index: 30;
            @include bg--auto(rgba(255, 255, 255, .95), none, cover, no-repeat);
        }
    }
    &.dark-theme{
        &.color-bg{
            .section-header{
                *{
                    @include font-source-sans( $big, $first-dark-color, bolder,  1, $secondary-font);
                }
            }   
        }
        &.white-bg{
            @include bg--auto(rgba(255, 255, 255, .3), linear-gradient(left, rgba(255, 255, 255, .3), darken( rgba(255, 255, 255, .3), 35% ) ), cover, no-repeat);
        }
    }
}